@import './base.css';

.footer{
  padding: 20px;
  color: #fafafa;
  margin-top: 20px;
  text-align: center;
  background-color: #b1857d;
}

.custom-divider {
  flex: 1;
  height: 2px;
  background-color: #ffffff;
  margin: 0 10px;
}

.content {
  padding-top: 80px;
}

.content-mobile {
  padding-top: 70px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-card {
  height: 580px;
  margin: 0 auto;
  max-width: 450px;
  border-radius: 8px;
  background-color: #ffcfc6;
}

.custom-button-color {
  color: #fafafa;
  background-color: #b1857d;
}

.custom-button-color:hover {
  color: #fafafa;
  background-color: #976d65;
}

.custom-button-color:focus {
  color: #fafafa;
  border: #976d65;
  background-color: #ffcfc6;
}

.descriptions {
  color: #fafafa;
  background-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
